[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pwork = {editable = true, file = "file:///Users/liyunpeng/test/python-framework"}

[dev-packages]

[requires]
python_version = "3.8"
